/.metadata/
.classpath
.project
contacts.log
/.metadata/
/bin/
/.settings/
CRS-JEDI-7-Flipkart/.classpath
CRS-JEDI-7-Flipkart/contact.log
CRS-JEDI-7-Flipkart/src/config.properties
CRS-JEDI-7-Flipkart/libs/
CRS-JEDI-7-Flipkart/src/com/flipkart/utils/DBUtils.java
CRS-JEDI-7-Flipkart-REST/libs/
CRS-JEDI-7-Flipkart-REST/.classpath
CRS-JEDI-7-Flipkart-REST/contact.log
CRS-JEDI-7-Flipkart-REST/src/main/java/config.properties
CRS-JEDI-7-Flipkart-REST/src/main/java/com/crs/flipkart/utils/CRSDb.java
CRS-JEDI-7-Flipkart-REST/Java Resources/src/config.properties
Servers